body {
    background-color: blanchedalmond;
}
h1 {
    text-align: center;
    font-size: 40px;
    background: lightblue;
    outline: 1px solid black;
    margin: 3px;
    padding: 5px;
}
.image{
    width: 270px;
    height: 300px;
}
a {
    font-size: 23px;
}

.first-recipes {
    display: flex;
    flex-direction: column;
}
.second-recipes {
    display: flex;
    flex-direction: column;
}
.third-recipes {
    display: flex;
    flex-direction: column;
}

.container {
    margin: 5px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    padding: 10px;
    justify-content: center;
}
/*  First Recipe Page */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

p {
    font-size: 24px;
}

li {
    font-size: 24px;
}

